fastapi==0.110.0
uvicorn[standard]==0.29.0
pandas==2.2.2
matplotlib==3.8.4
langchain==0.1.20
langchain-groq==0.1.4
langchain-experimental==0.0.58
streamlit==1.33.0
requests==2.31.0
pillow==10.3.0
python-multipart==0.0.9
pydantic==1.10.13